.groupCardImg{
	width:145px;
	height:150px;
}

.listCardImg{
	width:52px;
	height:63px;
}
.listCard span{
	display: inline-block;
	margin:10px 5px 5px 0px;
}
.groupCard span{
	display: inline-block;
	margin:5px 5px 5px 0px;
}
.listCard img{

}
.resultList li{
	border-bottom: 1px solid #ccc;
    margin-top: 10px;
}
.search{
	position: absolute;
	width: 75%
}
.search .ant-row{
	margin-top: 10px;
}
.searchInput {
	width: 75% !important;
}
.search-lzr{
	background-color: #fff;
	padding-top: 20px;
}
.searchContent-lzr{
	margin: 0px 10px 10px 10px;
	border: 1px solid #ccc;
}
.searchContent-lzr .searchType-line{
    border-bottom: 3px solid #F38F17;
}
.searchContent-lzr .searchType{
	width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #F38F17;
    position: relative;
    color:#fff;
    font-weight: bold;
}
.searchContent-lzr .searchType .close-icon{
	width: 18px;
	height: 18px;
	position: absolute;
	right: 10px;
	top:10px;
	margin-top: -20px;
	/*display: none;*/
}

.searchContent-lzr .searchType .close-icon :hover{
	cursor:pointer;
	/*display: block;*/
}
.searchContent-lzr .searchType span{
	display: inline-block;
	font-size:14px;
}
.searchContent-lzr .searchContent1{
	line-height: 32px;
	padding-left: 10px;
	background: #F6F4F5;
	border-bottom: 1px solid #ccc;
}
.searchContent-lzr .searchContent1 button{
	margin-right: 10px;
}
.searchContent2{
	line-height: 32px;
}
.searchContent2 span{
	margin-left: 10px
}
.searchContent2 input{
	height: 24px !important;
}
.searchContent2 .keyword{
	height: 20px;
	padding:0px 5px;
	background: #F38F17;
}
.searchContent-lzr .ant-tabs{
	position: absolute;
    top: -50px;
    right: 10px;
}
.searchContent-lzr .handleBtn{
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.table .table-title span{
	margin-left: 10px;
	line-height: 35px;
}
.table{
	width: 100%;
	/*border-collapse: collapse;*/
}
.table span{
	display: inline-block;
}
.jc-table td{
	border: 1px solid #ccc;
	line-height: 35px;
}
.jc-table img{
	width: 120px;
}
.jc-table td >span:first-child{
	display: inline-block;
	margin-left: 10px;
}
.jc-table td >span:nth-child(2){
	display: inline-block;
	float: right;
	margin-right: 10px;
	color: #397494;
}
.jh-table tr{
	border: 1px solid #ccc;
}
.jh-table tr:first-child{
	border-top:none;
}
.jh-table td{
	line-height: 35px;
	/*width: 25%;*/
}
.jh-table td >span:first-child{
	display: inline-block;
	margin-left: 10px;
}
.jh-table td >span:nth-child(2){
	display: inline-block;
	margin-left: 10px;
	color: #397494;
}
.jh-table span{
	margin-left: 10px;
}
.jh-table .table-title{
	font-weight: bold;
	font-size: 14px;
}
.circle-border{
	position: relative;
}
.circle{
	position: absolute;
	display: inline-block;
	width: 15px;
	height: 15px;
	top: 9px;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 15px;
}
.circle-border span:nth-child(2){
	display: inline-block;
	height: 100%;
	margin-left: 17px;
	padding-left: 15px;
    border-left: 2px solid #ccc;
}

.gz-table tr{
	border: 1px solid #ccc;
	line-height: 32px;
}
.gz-table .content-title{
	background: #F8F9FD;
}
.content-title{
	color: #F38F17;
	font-weight: bold;
	font-size: 14px;
}
.content-title span:first-child{
	margin-left:10px;
}
.content-body{
	padding-left: 15px;
	background: #FDF7E7;
	line-height: 45px;
	margin-bottom: 20px;
}
.content-body span:first-child{
	font-weight: bold;
}
.content-body span{
	color: #AD9B73;
}
.timeline ul{
	margin: 15px;
}
.timeline .ant-timeline-item{
	padding: 0px;
}
.timeline .ant-timeline-item-content{
	top: -9px;
	padding: 0 0 0px 26px; 
}
.jh-table .panel-body{
	padding: 0px
}
.little-table{
	text-align: center;
}
.little-table tr,th{
	border:none;
	border-top:1px solid #ccc;
}
.little-table td{
	color:#497697;
}