.hjt-infoResource{
	.ant-card-head{
		border: none;
	}
	.ant-card-body{
		padding: 10px;
	}
	.ant-card-bordered{
		height: 200px;
	}
	.ant-row {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .ant-card-head{
  	height: 30px;
  	padding: 0 10px;
  	.ant-card-head-title{
  		line-height: 30px;
  		.moreBt{
  			float: right;
  			font-weight: normal;
    		font-size: 12px;
  			color: #51A7FA;
  		}
  	}
  }
  .appDetailWrap{
  	height: 120px;
  	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .appDetail{
  	min-width: 20%;
    margin: 15px;
  	p{
  		padding: 10px;
  		border-radius: 8px;
  		height: 64px;
  		border: 1px solid #ddd;
  		span{
  			display: block;	
  		}
  	}
  	.specialP{
  		line-height: 44px;
    	font-size: 20px;
    	background: #F3F5F4;
  	}
  	span{
  		line-height: 20px;
  		color: #51A7FA;
  	}
  }
  .specialAppDetail{
  	background: #51A7FA;
  	color: #fff;
  	border-radius: 8px;
  	a,span{
  		color: #fff;
  	}
  }
  .appClassWrap{
  	.appClassItem{
  		float: left;
  		width: 33%;
	    border: 1px solid #ddd;
	    margin-left: -1px;
	    margin-top: -1px;
	    padding: 6px 12px;
	    em{
	    	font-style: normal;
	    	float: right;
	    	color: #51A7FA;
	    }
  	}
  }
  .appSuggestWrap{
  	.appSuggestItem{
  		color: #51A7FA;
  	}
  }
  .appAddWrap{
  	.appAddItem{
  		border-bottom: 1px dashed #ccc;
    	padding: 4px 0;
    	.appAddName{
    		color: #51A7FA;
    	}
  	}
  }
  .addNativeWrap{
    line-height: 30px;
    padding: 0 15px 0 15px;
    table{
      border-collapse: collapse;
      width: 100%;
      td{
        width: 35%;
        background: #fff;
        border: 1px solid #ddd;
        padding-left: 5px;
        input{
          border:none;
          width: 100%;
          height: 25px;
        }
        .ant-select{
          width: 60%;
        }
      }
      td:nth-child(1),td:nth-child(3){
        width: 15%;
        background: #F3F3F3;
      }
      td:nth-child(2),td:nth-child(4){
        padding-left: 10px;
      }
    }
    .keepModel{
      margin-top: 15px;
    }
    h4{
      line-height: 40px;
      font-size: 16px;
    }
    .implementBt{
      float: right;
    }
  }
  .dataStatic{
    margin-top: 10px;
    em{
      font-style: normal;
    }
  }
  .newDataStatis{
    font-size: 12px;
    color: #51A7FA;
    padding-left: 20px;
    em{
      font-style: normal;
    }
  }
}
