.hjt-dataApp{
	.ant-card-head{
		border: none;
	}
	.ant-card-body{
		padding: 10px;
	}
	.ant-card-bordered{
		height: 200px;
	}
	.ant-row {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .specialRow{
  	.ant-card-bordered{
			height: 410px;
		}
  }
  .ant-card-head{
  	height: 30px;
  	padding: 0 10px;
  	.ant-card-head-title{
  		line-height: 30px;
  		.moreBt{
  			float: right;
  			font-weight: normal;
    		font-size: 12px;
  			color: #51A7FA;
  		}
  	}
  }
  .appDetailWrap{
  	height: 150px;
  	text-align: center;
  }
  .appDetail{
  	float: left;
  	width: 18%;
    margin: 15px;
  	p{
  		padding: 10px;
  		border-radius: 8px;
  		height: 64px;
  		border: 1px solid #ddd;
  		span{
  			display: block;	
  		}
  	}
  	.specialP{
  		line-height: 44px;
    	font-size: 20px;
    	background: #F3F5F4;
  	}
  	span{
  		line-height: 20px;
  		color: #51A7FA;
  	}
  }
  .specialAppDetail{
  	background: #51A7FA;
  	color: #fff;
  	border-radius: 8px;
  	span{
  		color: #fff;
  	}
  }
  .appClassWrap{
  	.appClassItem{
  		float: left;
  		width: 33%;
	    border: 1px solid #ddd;
	    margin-left: -1px;
	    margin-top: -1px;
	    padding: 6px 12px;
	    em{
	    	font-style: normal;
	    	float: right;
	    	color: #51A7FA;
	    }
  	}
  }
  .appSuggestWrap{
  	.appSuggestItem{
  		color: #51A7FA;
  	}
  }
  .appAddWrap{
  	.appAddItem{
  		border-bottom: 1px dashed #ccc;
    	padding: 4px 0;
    	.appAddName{
    		color: #51A7FA;
    	}
  	}
  }
}
